<!-- University of Iowa Official Header -->
<header
  class="iowa-header d-flex align-items-center px-4 py-2 mb-4"
  style="background-color: #ffcd00; position: relative; z-index: 1;"
>
  <a href="https://uiowa.edu/">
    <img
    src="Iowa_logo.png"
    alt="IOWA Logo"
    style="
      height: 65px;
      margin-top: -10px;
      margin-bottom: -12px;
      background-color: black;
      padding: 0.4rem 1.2rem;
      /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); */
      z-index: 2;
      position: relative;
    "
  />
  </a>
  <h1
    
    style="font-family: Georgia, serif; font-weight: normal; font-size: 1.8rem; color: #1a1a1a; margin-left: 1rem;"
  >
    Reimbursement Portal
  </h1>
</header>



<app-submit-form></app-submit-form>